# Pandas
Pandaas is a python library that gives structure to data. It also makes it easy to access and manipulate data.

We begin by installing pandas

In [ ]:
!pip install pandas

Then we import into our python file

In [5]:
import pandas as pd

In [18]:
# create a list
column = ['Nigeria', 'E. Guinea', 'Ivory Coast', 'G. Bissau']

print(column)

['Nigeria', 'E. Guinea', 'Ivory Coast', 'G. Bissau']

Whenever we print a python list all we get is a plain text with no special structure.

In [19]:
# Lets take the list and insert into a dataframe
data = pd.DataFrame(column)
print(data)

             0
0      Nigeria
1    E. Guinea
2  Ivory Coast
3    G. Bissau

with pandas, we can organize our list/data into rows and columns thereby giving it a structure and making it more easier to view.

In [20]:
# name the column
column_title = {"Team": column}
data = pd.DataFrame(column_title)

print(data)

          Team
0      Nigeria
1    E. Guinea
2  Ivory Coast
3    G. Bissau

In [21]:
# add new columns to our dataframe
column_title = {"Team": column, 
                "Points": [7,7,3,0], 
                "GD": [2,6,-3,-5], 
                "Won": [2,2,1,0],
               "Lost":[0,0,2,3],
               "Draw":[1,1,0,0]}
data = pd.DataFrame(column_title)

print(data)

          Team  Points  GD  Won  Lost  Draw
0      Nigeria       7   2    2     0     1
1    E. Guinea       7   6    2     0     1
2  Ivory Coast       3  -3    1     2     0
3    G. Bissau       0  -5    0     3     0

In [22]:
# select values from our dataframe
select_column = data['Points']
print(select_column)

0    7
1    7
2    3
3    0
Name: Points, dtype: int64

In [24]:
# to select a specific value we add index to the key
# Select 'Ivory Coasts' goal difference
select_column = data['GD'][2]
print(select_column)

-3

In [25]:
# select the entire row for Ivory Coast
select_row = data.iloc[2]

print(select_row)

Team      Ivory Coast
Points              3
GD                 -3
Won                 1
Lost                2
Draw                0
Name: 2, dtype: object

In [27]:
# to select specific value using this method
select_row = data.iloc[2]['GD']

print(select_row)

-3

<h5>Class Exercise:</h5>
<p>Create a dataframe for name, age and height of 4 individuals</p>

In [29]:
# Solution
records = pd.DataFrame({"Name": ['juliet', 'Leonard', 'sophia', 'Daniel'],
                       "Weight": [50, 60, 58, 68],
                       "Height": [1.65, 1.73, 1.66, 1.69]})

print(records)

      Name  Weight  Height
0   juliet      50    1.65
1  Leonard      60    1.73
2   sophia      58    1.66
3   Daniel      68    1.69

In [31]:
bmi = []
#weight/(height**2)
for i in range(len(records)):
    bmi_score = records['Weight'][i]/(records['Height'][i]**2)
    bmi.append(bmi_score)
    
#create a new column to assign BMI scores
records['bmi'] = bmi

print(records)

      Name  Weight  Height        bmi
0   juliet      50    1.65  18.365473
1  Leonard      60    1.73  20.047446
2   sophia      58    1.66  21.048048
3   Daniel      68    1.69  23.808690

In [32]:
# save dataframe into a file
data.to_csv('bmi.csv')