## Loading data from an existing file

In [8]:
import pandas as pd
import sqlite3

In [4]:
data = pd.read_csv('bmi.csv')
print(data)

      Name  Weight  Height        bmi
0   juliet      50    1.65  18.365473
1  Leonard      60    1.73  20.047446
2   sophia      58    1.66  21.048048
3   Daniel      68    1.69  23.808690

In [7]:
# loading the tsv file
data = pd.read_csv("group_A.txt", sep='\t')
print(data)

          Team  Points  GD  Won  Lost  Draw
0      Nigeria       7   2    2     0     1
1    E. Guinea       7   6    2     0     1
2  Ivory Coast       3  -3    1     2     0
3    G. Bissau       0  -5    0     3     0

## Loading data from a database

In [41]:
# connect to the database
connection = sqlite3.connect("fifa.db")

In [42]:
gta_data = pd.read_sql("select * from fifa_records", connection)
print(gta_data)

Empty DataFrame
Columns: [year, winner, location, attendace]
Index: []

In [25]:
forbes = pd.read_csv('forbes_2022.csv', sep=",")
#print(forbes)

In [35]:
# to print the first 5 rows
# print(forbes.head())
# we can also specify the number of rows from the beginning
# print(forbes.head(10))

In [ ]:
# To print the last 5 rows
print(forbes.tail())

In [28]:
# filter our data entry
filtered_row = forbes[forbes['category'] == 'Automotive']
#print(filtered_row)

In [32]:
# to print specific rows
print(forbes['category'].head())

0               Automotive
1               Technology
2         Fashion & Retail
3               Technology
4    Finance & Investments
Name: category, dtype: object

In [34]:
# to replace every instance of
replaced_category = forbes.replace('Automotive', 'Automobile')
# print(replaced_category)

In [ ]:
# remove some data // remove the about
remove_column = forbes.drop("about", axis=1)
# print(remove_column)

In [ ]:
# to remove more than one column
remove_column = forbes.drop(['about', 'bio'], axis=1)
# print(remove_column)

In [ ]:
# to get rid of rows // delete rows
remove_row = forbes.iloc[1:4]
# print(remove_row)

In [38]:
# add new rows to our database
row = {"Team":"Ghana", "Points": 0, "GD": -5, "Won": 0, "Lost": 2, "Draw": 1}
new_data = data.append(row, ignore_index=True)
# print(new_data)

          Team  Points  GD  Won  Lost  Draw
0      Nigeria       7   2    2     0     1
1    E. Guinea       7   6    2     0     1
2  Ivory Coast       3  -3    1     2     0
3    G. Bissau       0  -5    0     3     0
4        Ghana       0  -5    0     2     1

C:\Users\user\AppData\Local\Temp\ipykernel_13644\3053819857.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_data = data.append(row, ignore_index=True)