## Loading data from an existing file

In [8]:
import pandas as pd
import sqlite3

In [4]:
data = pd.read_csv('bmi.csv')
print(data)

      Name  Weight  Height        bmi
0   juliet      50    1.65  18.365473
1  Leonard      60    1.73  20.047446
2   sophia      58    1.66  21.048048
3   Daniel      68    1.69  23.808690

In [7]:
# loading the tsv file
data = pd.read_csv("group_A.txt", sep='\t')
print(data)

          Team  Points  GD  Won  Lost  Draw
0      Nigeria       7   2    2     0     1
1    E. Guinea       7   6    2     0     1
2  Ivory Coast       3  -3    1     2     0
3    G. Bissau       0  -5    0     3     0

## Loading data from a database

In [17]:
# connect to the database
connection = sqlite3.connect("mock_staff.db")

In [20]:
mock_data = pd.read_sql("select * from staff", connection)
print(data)

DatabaseError: Execution failed on sql 'select * from staff': no such table: staff